*
{
	padding:0;
	margin: 0;
}
body
{
	background-image: url('../img/back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
/*navigation started*/
.menu-container
{
	background-color: #000;
	padding: 20px;
}
.menu-container ul
{
	text-align: center;
}
.menu-container ul li
{
	display:inline-flex;
	padding: 15px;
	position: relative;
}
.menu-container a
{
	color: #fff;
	text-decoration: none;
	font-size: 24px;
}
.submenu
{
	display: none;
}
.menu-container ul li:hover 
{
	background-color: #f00;
}

.menu-container ul li:hover .submenu
{
display: block;
position:absolute;
left: 0px;
top: 50px; 	
}
.submenu ul
{
	background-color: #000;
	padding: 15px;
}
.row
{
	display: flex;
}
.col
{
	background-color: rgba(0,0,0,0.5);
	width: 30%;
	margin: 50px;
	padding: 20px;
	color: #fff;

}
.col h2
{
	text-align: center;
	margin-bottom: 15px;
}
.col p
{
	font-size: 20px;
	text-align: justify;
}
footer
{
	background-color: #000;
	padding: 25px;
	text-align: center;
}
footer span{
	color: #fff;

}
footer a
{
	color: #00f;
}